{
  "openapi": "3.0.0",
  "info": {
    "title": "同济大学开放平台API",
    "description": "基于Postman Collection转换的OpenAPI规范",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tongji.edu.cn",
      "description": "生产环境"
    }
  ],
  "paths": {
    "/v2/rt/user/all_info": {
      "get": {
        "summary": "单条/全量/增量/新增人员基本信息-实时",
        "description": "根据人员身份认证状态、部门和人员类型等查询人员基本信息",
        "parameters": [
          {
            "name": "statusCode",
            "in": "query",
            "description": "人员身份认证状态，0代表有效、1代表失效、-1代表全部不传参数默认为0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deptCode",
            "in": "query",
            "description": "部门/学院代码不传代表全部获取",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userTypeCode",
            "in": "query",
            "description": "人员类型，[types](/hidden_page/v1/metadata/user/types)，不传代表全部获取",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUserId",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceCreateTime",
            "in": "query",
            "description": "创建时间，timestamp，seconds，获取该时间点之后生成的用户基本信息，请注意保证此参数在同一次增量拉取时不会变化",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，timestamp，seconds，获取该时间点之后信息有更改的用户基本信息，请注意保证此参数在同一次增量拉取时不会变化",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "学工号，最多每次传1000个，用英文逗号隔开",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string",
                      "description": "学工号"
                    },
                    "name": {
                      "type": "string",
                      "description": "姓名"
                    },
                    "deptCode": {
                      "type": "string",
                      "description": "部门/学院代码"
                    },
                    "deptName": {
                      "type": "string",
                      "description": "部门/代码名称"
                    },
                    "userTypeCode": {
                      "type": "string",
                      "description": "人员类型代码"
                    },
                    "userTypeName": {
                      "type": "string",
                      "description": "人员类型名称"
                    },
                    "statusCode": {
                      "type": "string",
                      "description": "状态，全部取自人员状态"
                    },
                    "statusName": {
                      "type": "string",
                      "description": "状态名称"
                    },
                    "createTime": {
                      "type": "date",
                      "description": "创建时间"
                    },
                    "updateTime": {
                      "type": "date",
                      "description": "更新时间"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/dc/user/person_all_info_by_userid": {
      "get": {
        "summary": "人员全部身份学工号信息",
        "description": "根据人员某一身份的学工号查询出对应人员所有身份的学工号",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学工号",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusCode",
            "in": "query",
            "description": "人员身份认证状态，0代表有效、1代表失效、-1代表全部不传参数默认为0",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "STRING",
                      "description": "学工号"
                    },
                    "statusCode": {
                      "type": "STRING",
                      "description": "状态，全部取自人员状态"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v2/dc/user/pm_member_info": {
      "get": {
        "summary": "党员信息",
        "description": "根据学工号查询党员信息",
        "parameters": [
          {
            "name": "cardNo",
            "in": "query",
            "description": "证件号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "学工号，数据来源于党建e家",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceCardNo",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，获取该时间点之后信息有更改的数据，此字段格式支持YYYY-MM-DD HH:mm:ss 和 unix时间戳",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "STRING",
                      "description": "姓名"
                    },
                    "partyBranch": {
                      "type": "STRING",
                      "description": "所属党组织名称"
                    },
                    "partyMembershipStatus": {
                      "type": "STRING",
                      "description": "党籍状态"
                    },
                    "kindType": {
                      "type": "STRING",
                      "description": "党员类型，1-正式党员，2-预备党员"
                    },
                    "joinPartyDate": {
                      "type": "STRING",
                      "description": "入党时间"
                    },
                    "conversionDate": {
                      "type": "STRING",
                      "description": "转正日期"
                    },
                    "userId": {
                      "type": "STRING",
                      "description": "学工号"
                    },
                    "updateTime": {
                      "type": "STRING",
                      "description": "更新时间"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v2/dc/sep_auth/all_address_info": {
      "get": {
        "summary": "人员家庭信息",
        "description": "根据学工号查询在校人员家庭信息",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学工号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUserId",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，获取该时间点之后信息有更改的数据，此字段格式支持YYYY-MM-DD HH:mm:ss 和 unix时间戳",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "STRING",
                      "description": "学工号"
                    },
                    "name": {
                      "type": "STRING",
                      "description": "姓名"
                    },
                    "userTypeCode": {
                      "type": "STRING",
                      "description": "人员类型代码"
                    },
                    "userTypeName": {
                      "type": "STRING",
                      "description": "人员类型名称"
                    },
                    "deptCode": {
                      "type": "STRING",
                      "description": "部门/学院代码"
                    },
                    "deptName": {
                      "type": "STRING",
                      "description": "部门/学院名称"
                    },
                    "homeAddress": {
                      "type": "STRING",
                      "description": "家庭住址"
                    },
                    "mailAddress": {
                      "type": "STRING",
                      "description": "通信地址"
                    },
                    "domicilePlace": {
                      "type": "STRING",
                      "description": "户口所在地"
                    },
                    "postalCode": {
                      "type": "STRING",
                      "description": "有效邮政编码"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rt/card/card_photo": {
      "get": {
        "summary": "人员展示照照片信息",
        "description": "根据学工号获取人员展示照照片，根据信息办数据管理规定，系统在调用展示照或任何人像时，仅可做展示使用，禁止本地存储，一经发现，将取消授权。如因私自存储发生数据泄露，责任自负。",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学工号",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "查询时候可以指定数据来源 1:人像平台 2:一卡通系统。该参数为空的话优先从人像平台获取，人像平台没有则到一卡通系统获取",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "STRING",
                      "description": "学工号"
                    },
                    "photo": {
                      "type": "STRING",
                      "description": "照片（返回为格式base64图片数据）"
                    },
                    "source": {
                      "type": "STRING",
                      "description": "数据来源 1:人像平台 2:一卡通系统"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v2/dc/user/person_info_by_pid": {
      "get": {
        "summary": "人员整合信息",
        "description": "根据人员唯一编号pid查询人员所有学工号基本信息",
        "parameters": [
          {
            "name": "pid",
            "in": "query",
            "description": "人员唯一编号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sincePid",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，获取该时间点之后信息有更改的数据，此字段格式支持YYYY-MM-DD HH:mm:ss 和 unix时间戳",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "学工号",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "STRING",
                      "description": "学号"
                    },
                    "name": {
                      "type": "STRING",
                      "description": "姓名"
                    },
                    "deptCode": {
                      "type": "string",
                      "description": "部门/学院代码"
                    },
                    "deptName": {
                      "type": "string",
                      "description": "部门/学院名称"
                    },
                    "userTypeCode": {
                      "type": "STRING",
                      "description": "人员类型代码"
                    },
                    "userTypeName": {
                      "type": "STRING",
                      "description": "人员类型名称"
                    },
                    "statusCode": {
                      "type": "string",
                      "description": "人员身份认证状态"
                    },
                    "statusName": {
                      "type": "string",
                      "description": "人员身份认证状态名称"
                    },
                    "pid": {
                      "type": "string",
                      "description": "人员唯一编号"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v2/dc/user/user_data_statistics": {
      "get": {
        "summary": "全校师生统计数据",
        "description": "根据工号查询全校师生统计数据，主要人员是所有人员状态为有效的人员以及近两年内失效的人员",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学工号",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "STRING",
                      "description": "学工号"
                    },
                    "sname": {
                      "type": "STRING",
                      "description": "姓名"
                    },
                    "gender": {
                      "type": "STRING",
                      "description": "性别"
                    },
                    "stuLevel": {
                      "type": "STRING",
                      "description": "学历:0->本;1->硕;2->博;9->师"
                    },
                    "entYear": {
                      "type": "INTEGER",
                      "description": "X年你离开了家"
                    },
                    "stayYear": {
                      "type": "INTEGER",
                      "description": "开启了属于你的X年济忆时光（本研在同济的所有年头）"
                    },
                    "college": {
                      "type": "STRING",
                      "description": "学院"
                    },
                    "major": {
                      "type": "STRING",
                      "description": "专业"
                    },
                    "bookCategory": {
                      "type": "STRING",
                      "description": "最喜欢的主题"
                    },
                    "bookCoun": {
                      "type": "INTEGER",
                      "description": "借了X本书"
                    },
                    "bookFirst": {
                      "type": "STRING",
                      "description": "借阅的第一本书"
                    },
                    "canteenAmount": {
                      "type": "NUMBER",
                      "description": "食堂总消费"
                    },
                    "canteenAmtPercentileRank": {
                      "type": "NUMBER",
                      "description": "超过X%的同济人（用总消费算）"
                    },
                    "canteenCoun": {
                      "type": "INTEGER",
                      "description": "在食堂累计消费X次"
                    },
                    "canteenOften": {
                      "type": "STRING",
                      "description": "对X食堂情有独钟"
                    },
                    "canteenOftenPercentileRank": {
                      "type": "NUMBER",
                      "description": "属于你X%的美味时光在此度过"
                    },
                    "consumMostTime": {
                      "type": "STRING",
                      "description": "最大的一笔消费发生在 年 月 日"
                    },
                    "consumMostAmount": {
                      "type": "NUMBER",
                      "description": "这一天一共花了￥ 元"
                    },
                    "consumeTotal": {
                      "type": "NUMBER",
                      "description": "累计消费￥ 元（所有消费）"
                    },
                    "consumeTotalPercentileRank": {
                      "type": "NUMBER",
                      "description": "超过了 %的同济人（所有消费）"
                    },
                    "earlistTime": {
                      "type": "STRING",
                      "description": "最早进入图书馆的时间（精确到秒）"
                    },
                    "latestTime": {
                      "type": "STRING",
                      "description": "最晚离开图书馆的时间（精确到秒）"
                    },
                    "entranceCoun": {
                      "type": "INTEGER",
                      "description": "去了X次图书馆"
                    },
                    "marketAmount": {
                      "type": "NUMBER",
                      "description": "在超市共消费了 元"
                    },
                    "rideCoun": {
                      "type": "INTEGER",
                      "description": "乘坐校车在校区之间往返 次"
                    },
                    "scholarshipCoun": {
                      "type": "NUMBER",
                      "description": "获得奖学金 次"
                    },
                    "stayTime": {
                      "type": "NUMBER",
                      "description": "在馆一共 小时"
                    },
                    "stayTimePercentileRank": {
                      "type": "NUMBER",
                      "description": "超过了 %的同济人"
                    },
                    "consumePlaceOften": {
                      "type": "STRING",
                      "description": "你最常光顾X（即最多次的消费场所）"
                    },
                    "rechargeTimeSlot": {
                      "type": "STRING",
                      "description": "你最喜欢在X时间段进行充值,以2小时为间隔，依次类推"
                    },
                    "cardPelaceCoun": {
                      "type": "INTEGER",
                      "description": "补卡次数"
                    },
                    "firstCardPlaceTime": {
                      "type": "DATE",
                      "description": "第一次补卡时间"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v2/dc/user/user_annual_bill": {
      "get": {
        "summary": "人员汇总数据",
        "description": "根据学号和年份查询全校师生统计数据",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学号",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "年份",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "STRING",
                      "description": "学工号"
                    },
                    "name": {
                      "type": "STRING",
                      "description": "姓名"
                    },
                    "deptCode": {
                      "type": "STRING",
                      "description": "学院代码"
                    },
                    "deptName": {
                      "type": "STRING",
                      "description": "学院代码名称"
                    },
                    "userTypeCode": {
                      "type": "STRING",
                      "description": "人员类型代码"
                    },
                    "totalEntries": {
                      "type": "NUMBER",
                      "description": "进出校门总数"
                    },
                    "weeklyExitAvg": {
                      "type": "NUMBER",
                      "description": "平均每周出校门的次数"
                    },
                    "earliestExitTime": {
                      "type": "NUMBER",
                      "description": "最早出校门的准确时间（精确到秒）"
                    },
                    "lateExitPct": {
                      "type": "NUMBER",
                      "description": "当天晚于最早出校门这一时间点出门的师生人数占当天出门师生总人数的X%"
                    },
                    "latestExitTime": {
                      "type": "STRING",
                      "description": "最晚出校门的准确时间（精确到秒）"
                    },
                    "todayLateExitPct": {
                      "type": "NUMBER",
                      "description": "当天晚于最晚出校门这个时间点出门的师生人数占当天出门师生总人数的X%"
                    },
                    "libraryAccessCount": {
                      "type": "NUMBER",
                      "description": "进出图书馆次数"
                    },
                    "earliestEntryTime": {
                      "type": "STRING",
                      "description": "最早进入图书馆的具体时间（精确到秒）"
                    },
                    "todayEntryCount": {
                      "type": "NUMBER",
                      "description": "当天最早进入图书馆这个时间点已有X师生在图书馆"
                    },
                    "libraryAttendancePct": {
                      "type": "NUMBER",
                      "description": "当天最早进入图书馆这个时间点的在馆师生人数占当天进馆师生总人数的X%"
                    },
                    "latestDepartureTime": {
                      "type": "STRING",
                      "description": "最晚离开图书馆的时间（精确到秒）"
                    },
                    "lastDepartureCount": {
                      "type": "NUMBER",
                      "description": "当天最晚离开图书馆这个时间点还有X师生在图书馆"
                    },
                    "libraryExitPct": {
                      "type": "NUMBER",
                      "description": "当天最晚离开图书馆这个时间点的仍在馆的师生人数占当天进馆师生总人数的X%"
                    },
                    "libraryStudyTime": {
                      "type": "NUMBER",
                      "description": "在图书馆学习时长，单位：小时"
                    },
                    "libraryStudyTopPct": {
                      "type": "NUMBER",
                      "description": "在图书馆学习时间位于全校师生前X%"
                    },
                    "booksCount": {
                      "type": "NUMBER",
                      "description": "一年中的总借书数"
                    },
                    "annualBorrowedTopPct": {
                      "type": "NUMBER",
                      "description": "一年中的总借书数是全校师生的前X%"
                    },
                    "totalSpendingCanteen": {
                      "type": "NUMBER",
                      "description": "全年消费总金额（食堂里），单位：元"
                    },
                    "avgDailySpending": {
                      "type": "NUMBER",
                      "description": "平均每次消费金额（食堂里），单位：元"
                    },
                    "canteenSpendingPct": {
                      "type": "NUMBER",
                      "description": "食堂总消费金额超过于全校老师/学生的X%"
                    },
                    "shuttleRidesCount": {
                      "type": "NUMBER",
                      "description": "校车乘坐次数（年度）"
                    },
                    "maxTransactionTime": {
                      "type": "STRING",
                      "description": "单次消费最多的时间（年月日）"
                    },
                    "maxTransactionLoc": {
                      "type": "NUMBER",
                      "description": "单次消费最多的地点（食堂名）"
                    },
                    "maxTransactionAmt": {
                      "type": "NUMBER",
                      "description": "单次消费最多金额，单位：元"
                    },
                    "maxCumulativeLoc": {
                      "type": "STRING",
                      "description": "累计消费最多的地点（食堂名）"
                    },
                    "maxCumulativeAmt": {
                      "type": "NUMBER",
                      "description": "累计消费最多的地点总计消费金额，单位：元"
                    },
                    "year": {
                      "type": "STRING",
                      "description": "年份"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v2/dc/card_info/person_info_by_cardno": {
      "get": {
        "summary": "根据证件信息获取人员基本信息",
        "description": "根据身份证件号查询人员基本信息",
        "parameters": [
          {
            "name": "cardNo",
            "in": "query",
            "description": "证件号码",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "STRING",
                      "description": "学工号"
                    },
                    "name": {
                      "type": "STRING",
                      "description": "姓名"
                    },
                    "deptCode": {
                      "type": "STRING",
                      "description": "部门/学院代码"
                    },
                    "deptName": {
                      "type": "STRING",
                      "description": "部门/学院名称"
                    },
                    "userTypeCode": {
                      "type": "STRING",
                      "description": "人员类型代码"
                    },
                    "userTypeName": {
                      "type": "STRING",
                      "description": "人员类型名称"
                    },
                    "statusCode": {
                      "type": "STRING",
                      "description": "人员身份认证状态"
                    },
                    "statusName": {
                      "type": "STRING",
                      "description": "人员身份认证状态名称"
                    },
                    "cardNo": {
                      "type": "STRING",
                      "description": "证件号码，来源于各个系统"
                    },
                    "cardCode": {
                      "type": "STRING",
                      "description": "证件类型"
                    },
                    "cardType": {
                      "type": "STRING",
                      "description": "证件类型名称"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v2/dc/sep_auth/card_no_info": {
      "get": {
        "summary": "人员证件信息",
        "description": "根据学工号查询人员证件号码信息",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学工号，可传入多个学工号（上限为500，使用英文逗号分割）进行批量查询",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUserId",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，获取该时间点之后信息有更改的数据，此字段格式支持YYYY-MM-DD HH:mm:ss 和 unix时间戳",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "float"
                        },
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "properties": {}
                          }
                        },
                        "sinceUserId": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/dc/card_info/dm_card_no_info": {
      "get": {
        "summary": "人员证件信息-证件号已脱敏处理",
        "description": "根据学工号查询经过脱敏之后的人员证件号码信息",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学工号",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "STRING",
                      "description": "学工号"
                    },
                    "cardNo": {
                      "type": "STRING",
                      "description": "证件号码，来源于各个系统"
                    },
                    "cardCode": {
                      "type": "STRING",
                      "description": "证件类型"
                    },
                    "cardType": {
                      "type": "STRING",
                      "description": "证件类型名称"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/dc/card_info/idcard_validateDate": {
      "get": {
        "summary": "证件号有效期查询",
        "description": "通过学号获取证件号有效期",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学号",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "STRING",
                      "description": "状态码"
                    },
                    "data": {
                      "type": "ARRAY",
                      "description": "数据"
                    },
                    "msg": {
                      "type": "STRING",
                      "description": "信息"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/dc/card_info/cardno_validate": {
      "get": {
        "summary": "使用证件号码验证用户",
        "description": "根据人员证件号码、证件号码后六位、姓名、学工号组合验证用户是否为同济大学相关人员",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学工号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardNo",
            "in": "query",
            "description": "证件号码",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "姓名",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardNoLastSix",
            "in": "query",
            "description": "证件号码后六位",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string",
                      "description": "学工号"
                    },
                    "name": {
                      "type": "string",
                      "description": "姓名"
                    },
                    "deptCode": {
                      "type": "string",
                      "description": "部门/学院代码"
                    },
                    "deptName": {
                      "type": "string",
                      "description": "部门/代码名称"
                    },
                    "userTypeCode": {
                      "type": "string",
                      "description": "人员类型代码"
                    },
                    "userTypeName": {
                      "type": "string",
                      "description": "人员类型名称"
                    },
                    "statusCode": {
                      "type": "string",
                      "description": "状态代码，全部取自人员状态"
                    },
                    "statusName": {
                      "type": "string",
                      "description": "状态名称"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/dc/sep_auth/all_contact_info": {
      "get": {
        "summary": "人员联系方式",
        "description": "根据学工号查询人员联系方式",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学工号，可传入多个（上限为200，使用英文逗号分割）进行批量查询",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "手机号，可传入多个（上限为200，使用英文逗号分割）进行批量查询",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "邮箱，可传入多个（上限为200，使用英文逗号分割）进行批量查询",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "systemCode",
            "in": "query",
            "description": "系统编号，可传入多个(使用英文逗号分割)，传all：获取全部",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string",
                      "description": "学工号"
                    },
                    "name": {
                      "type": "string",
                      "description": "姓名"
                    },
                    "deptCode": {
                      "type": "string",
                      "description": "部门/学院代码"
                    },
                    "deptName": {
                      "type": "string",
                      "description": "部门/学院姓名"
                    },
                    "phone": {
                      "type": "string",
                      "description": "手机号"
                    },
                    "email": {
                      "type": "string",
                      "description": "邮箱"
                    },
                    "SYS***": {
                      "type": "object",
                      "description": "系统信息",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "邮箱"
                        },
                        "phone": {
                          "type": "string",
                          "description": "手机号"
                        }
                      }
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/dc/sep_auth/update_contact_info": {
      "post": {
        "summary": "修改用户联系方式",
        "description": "通过学号修改用户联系方式",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "STRING",
                    "description": "学号"
                  },
                  "email": {
                    "type": "STRING",
                    "description": "邮箱"
                  },
                  "phone": {
                    "type": "STRING",
                    "description": "电话"
                  }
                },
                "required": [
                  "userId",
                  "email",
                  "phone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "STRING",
                      "description": "状态码"
                    },
                    "data": {
                      "type": "ARRAY",
                      "description": "显示影响的数据库条数号"
                    },
                    "msg": {
                      "type": "STRING",
                      "description": "信息"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rt/user/coremail_info": {
      "get": {
        "summary": "同济邮箱信息",
        "description": "同济邮箱信息",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学工号，可批量传参，最多1000条，两个入参必须二选一",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "邮箱，可批量传参，最多1000条，两个入参必须二选一",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "properties": {}
                      }
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v2/dc/user/student_infos": {
      "get": {
        "summary": "学生基本信息",
        "description": "单条或批量获取学生基本信息。",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学工号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceTime",
            "in": "query",
            "description": "日期",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusCode",
            "in": "query",
            "description": "人员身份认证状态，0代表有效、1代表失效、-1代表全部 不传参数默认为0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deptCode",
            "in": "query",
            "description": "部门/学院代码 不传代表全部获取",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secondDeptCode",
            "in": "query",
            "description": "培养专业 不传代表全部获取",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leaveSchoolCode",
            "in": "query",
            "description": "在校状态,针对研究生 不传代表全部获取",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isMembershipCode",
            "in": "query",
            "description": "是否在籍,针对本科生,1-是，0-否 不传代表全部获取",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "registrationStatusCode",
            "in": "query",
            "description": "学籍状态，针对本科生 不传代表全部获取",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userTypeCode",
            "in": "query",
            "description": "人员类型代码 2-本科生、3-硕士研究生、4-博士研究生 不传代表全部获取",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trainingCategoryCode",
            "in": "query",
            "description": "培养类别代码 不传代表全部获取",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currentGrade",
            "in": "query",
            "description": "当前年级 不传代表全部获取",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUserId",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，获取该时间点之后信息有更改的数据，此字段格式支持YYYY-MM-DD HH:mm:ss 和 unix时间戳",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string",
                      "description": "学工号"
                    },
                    "name": {
                      "type": "string",
                      "description": "姓名"
                    },
                    "sexCode": {
                      "type": "string",
                      "description": "性别"
                    },
                    "sexName": {
                      "type": "string",
                      "description": "性别名称"
                    },
                    "deptCode": {
                      "type": "string",
                      "description": "部门/学院代码"
                    },
                    "deptName": {
                      "type": "string",
                      "description": "部门/学院名称"
                    },
                    "secondDeptCode": {
                      "type": "string",
                      "description": "培养专业"
                    },
                    "secondDeptName": {
                      "type": "string",
                      "description": "培养专业名称"
                    },
                    "schoolCode": {
                      "type": "string",
                      "description": "学堂id"
                    },
                    "schoolName": {
                      "type": "string",
                      "description": "学堂名称"
                    },
                    "politicalStatusCode": {
                      "type": "string",
                      "description": "政治面貌"
                    },
                    "politicalStatusName": {
                      "type": "string",
                      "description": "政治面貌名称"
                    },
                    "campusCode": {
                      "type": "string",
                      "description": "校区"
                    },
                    "campusName": {
                      "type": "string",
                      "description": "校区名称"
                    },
                    "currentGrade": {
                      "type": "string",
                      "description": "当前年级"
                    },
                    "trainingLevelCode": {
                      "type": "string",
                      "description": "培养层次"
                    },
                    "trainingLevelName": {
                      "type": "string",
                      "description": "培养层次名称"
                    },
                    "leaveSchoolCode": {
                      "type": "string",
                      "description": "在校状态,针对研究生"
                    },
                    "leaveSchoolName": {
                      "type": "string",
                      "description": "在校状态名,针对研究生称"
                    },
                    "isMembershipCode": {
                      "type": "string",
                      "description": "是否在籍,针对本科生,1-是，0-否"
                    },
                    "isMembershipName": {
                      "type": "string",
                      "description": "是否在籍名称,针对本科生,"
                    },
                    "expGraduationDate": {
                      "type": "string",
                      "description": "预计毕业时间"
                    },
                    "enrolDate": {
                      "type": "TIMESTAMP",
                      "description": "入学时间"
                    },
                    "offSchool": {
                      "type": "string",
                      "description": "离校时间"
                    },
                    "teacherId": {
                      "type": "string",
                      "description": "导师工号"
                    },
                    "viceTeacherId": {
                      "type": "string",
                      "description": "副导师工号"
                    },
                    "isIncumbencyCode": {
                      "type": "string",
                      "description": "是否在职，针对研究生，本科生此字段为空，1-是，0-否"
                    },
                    "isIncumbencyName": {
                      "type": "string",
                      "description": "是否在职名称，针对研究生，本科生此字段为空"
                    },
                    "userTypeCode": {
                      "type": "string",
                      "description": "人员类型代码"
                    },
                    "userTypeName": {
                      "type": "string",
                      "description": "人员类型名称"
                    },
                    "registrationStatusCode": {
                      "type": "string",
                      "description": "学籍状态，针对本科生"
                    },
                    "registrationStatusName": {
                      "type": "string",
                      "description": "学籍状态名称，针对本科生"
                    },
                    "statusCode": {
                      "type": "string",
                      "description": "人员身份认证状态，0代表有效、1代表失效"
                    },
                    "statusName": {
                      "type": "string",
                      "description": "人员身份认证状态名称"
                    },
                    "trainingCategoryCode": {
                      "type": "string",
                      "description": "培养类别"
                    },
                    "trainingCategoryName": {
                      "type": "string",
                      "description": "培养类别名称"
                    },
                    "lengthSchooling": {
                      "type": "string",
                      "description": "学制"
                    },
                    "isOverseasCode": {
                      "type": "string",
                      "description": "是否留学生"
                    },
                    "isOverseasName": {
                      "type": "string",
                      "description": "是否留学生名称"
                    },
                    "updateTime": {
                      "type": "date",
                      "description": "更新时间"
                    },
                    "managementCollege2Code": {
                      "type": "string",
                      "description": "管理学院2"
                    },
                    "managementCollege2Name": {
                      "type": "string",
                      "description": "管理学院2名称"
                    },
                    "studyForm": {
                      "type": "string",
                      "description": "学习形式"
                    },
                    "studyFormName": {
                      "type": "string",
                      "description": "学习形式名称"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rt/user/all_student": {
      "post": {
        "summary": "学生基本信息-实时",
        "description": "获取教务系统所有的学生基本信息",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "String",
                    "description": "学号，支持批量查询，使用英文逗号分割，长度不能超过1000"
                  }
                },
                "required": [
                  "userId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "String",
                      "description": "姓名"
                    },
                    "studentId": {
                      "type": "String",
                      "description": "学号"
                    },
                    "nameSpelling": {
                      "type": "String",
                      "description": "姓名拼音"
                    },
                    "sexCode": {
                      "type": "String",
                      "description": "性别代码"
                    },
                    "sex": {
                      "type": "String",
                      "description": "性别"
                    },
                    "birthday": {
                      "type": "String",
                      "description": "出生日期"
                    },
                    "maritalStatusCode": {
                      "type": "String",
                      "description": "婚姻状况代码"
                    },
                    "maritalStatus": {
                      "type": "String",
                      "description": "婚姻状况"
                    },
                    "usedName": {
                      "type": "String",
                      "description": "曾用名"
                    },
                    "nationCode": {
                      "type": "String",
                      "description": "民族代码"
                    },
                    "nation": {
                      "type": "String",
                      "description": "民族"
                    },
                    "politicalStatusCode": {
                      "type": "String",
                      "description": "政治面貌代码"
                    },
                    "politicalStatus": {
                      "type": "String",
                      "description": "政治面貌"
                    },
                    "stateCode": {
                      "type": "String",
                      "description": "国家地区代码"
                    },
                    "state": {
                      "type": "String",
                      "description": "国家地区"
                    },
                    "chinaSonCode": {
                      "type": "String",
                      "description": "港澳台侨代码"
                    },
                    "chinaSon": {
                      "type": "String",
                      "description": "港澳台侨"
                    },
                    "nativePlaceCode": {
                      "type": "String",
                      "description": "籍贯代码"
                    },
                    "nativePlace": {
                      "type": "String",
                      "description": "籍贯"
                    },
                    "brithplaceCode": {
                      "type": "String",
                      "description": "出生地代码"
                    },
                    "brithplace": {
                      "type": "String",
                      "description": "出生地"
                    },
                    "studentSourceCode": {
                      "type": "String",
                      "description": "生源地代码"
                    },
                    "studentSource": {
                      "type": "String",
                      "description": "生源地"
                    },
                    "stationStart": {
                      "type": "String",
                      "description": "火车起点站"
                    },
                    "stationTerminiCode": {
                      "type": "String",
                      "description": "火车终点站代码"
                    },
                    "stationTermini": {
                      "type": "String",
                      "description": "火车终点站"
                    },
                    "householdRegisterCode": {
                      "type": "String",
                      "description": "户口所在地代码"
                    },
                    "householdRegister": {
                      "type": "String",
                      "description": "户口所在地"
                    },
                    "registeredAddress": {
                      "type": "String",
                      "description": "户口所在详细地址"
                    },
                    "registeredPostalCode": {
                      "type": "String",
                      "description": "户口所在地邮编"
                    },
                    "mailingAddress": {
                      "type": "String",
                      "description": "法定送达地址"
                    },
                    "postalCode": {
                      "type": "String",
                      "description": "邮政编码"
                    },
                    "healthStatusCode": {
                      "type": "String",
                      "description": "健康状况代码"
                    },
                    "healthStatus": {
                      "type": "String",
                      "description": "健康状况"
                    },
                    "medicalHistory": {
                      "type": "String",
                      "description": "病史"
                    },
                    "projIdCode": {
                      "type": "String",
                      "description": "管理部门代码"
                    },
                    "projId": {
                      "type": "String",
                      "description": "管理部门"
                    },
                    "facultyCode": {
                      "type": "String",
                      "description": "管理学院代码"
                    },
                    "faculty": {
                      "type": "String",
                      "description": "管理学院"
                    },
                    "professionCode": {
                      "type": "String",
                      "description": "招生专业代码"
                    },
                    "profession": {
                      "type": "String",
                      "description": "招生专业"
                    },
                    "statusProfessionCode": {
                      "type": "String",
                      "description": "学籍专业代码"
                    },
                    "statusProfession": {
                      "type": "String",
                      "description": "学籍专业"
                    },
                    "cultureProfessionCode": {
                      "type": "String",
                      "description": "培养专业代码"
                    },
                    "cultureProfession": {
                      "type": "String",
                      "description": "培养专业"
                    },
                    "majorDirectionCode": {
                      "type": "String",
                      "description": "专业方向代码"
                    },
                    "majorDirection": {
                      "type": "String",
                      "description": "专业方向名称"
                    },
                    "statusFacultyCode": {
                      "type": "String",
                      "description": "学籍（招生）学院代码，学生归属判断请使用管理学院代码"
                    },
                    "statusFaculty": {
                      "type": "String",
                      "description": "学籍（招生）学院"
                    },
                    "trainingLevelCode": {
                      "type": "String",
                      "description": "培养层次代码"
                    },
                    "trainingLevel": {
                      "type": "String",
                      "description": "培养层次"
                    },
                    "trainingCategoryCode": {
                      "type": "String",
                      "description": "培养类别代码"
                    },
                    "trainingCategory": {
                      "type": "String",
                      "description": "培养类别"
                    },
                    "trainingMethodsCode": {
                      "type": "String",
                      "description": "培养方式代码"
                    },
                    "trainingMethods": {
                      "type": "String",
                      "description": "培养方式"
                    },
                    "grade": {
                      "type": "Integer",
                      "description": "入学年级"
                    },
                    "enrolDate": {
                      "type": "String",
                      "description": "入学时间"
                    },
                    "enrolMethodsCode": {
                      "type": "String",
                      "description": "入学方式代码"
                    },
                    "enrolMethods": {
                      "type": "String",
                      "description": "入学方式"
                    },
                    "currentGrade": {
                      "type": "Integer",
                      "description": "当前年级"
                    },
                    "enrolSeasonCode": {
                      "type": "String",
                      "description": "入学季节代码"
                    },
                    "enrolSeason": {
                      "type": "String",
                      "description": "入学季节"
                    },
                    "isOverseasCode": {
                      "type": "String",
                      "description": "是否国际生代码"
                    },
                    "isOverseas": {
                      "type": "String",
                      "description": "是否国际生"
                    },
                    "isMembershipCode": {
                      "type": "String",
                      "description": "是否在籍代码"
                    },
                    "isMembership": {
                      "type": "String",
                      "description": "是否在籍"
                    },
                    "leaveSchoolCode": {
                      "type": "String",
                      "description": "在校状态代码"
                    },
                    "leaveSchool": {
                      "type": "String",
                      "description": "在校状态"
                    },
                    "registrationStatusCode": {
                      "type": "String",
                      "description": "学籍状态代码"
                    },
                    "registrationStatus": {
                      "type": "String",
                      "description": "学籍状态"
                    },
                    "enrolCategoryCode": {
                      "type": "String",
                      "description": "录取类别代码"
                    },
                    "enrolCategory": {
                      "type": "String",
                      "description": "录取类别"
                    },
                    "wayStudyCode": {
                      "type": "String",
                      "description": "就读方式代码"
                    },
                    "wayStudy": {
                      "type": "String",
                      "description": "就读方式"
                    },
                    "lengthSchooling": {
                      "type": "String",
                      "description": "学制"
                    },
                    "formLearningCode": {
                      "type": "String",
                      "description": "学习形式代码"
                    },
                    "formLearning": {
                      "type": "String",
                      "description": "学习形式"
                    },
                    "learningStyleCode": {
                      "type": "String",
                      "description": "学习方式代码"
                    },
                    "learningStyle": {
                      "type": "String",
                      "description": "学习方式"
                    },
                    "isDobleDegree": {
                      "type": "String",
                      "description": "是否双学位"
                    },
                    "categoryCode": {
                      "type": "String",
                      "description": "门类代码"
                    },
                    "category": {
                      "type": "String",
                      "description": "门类"
                    },
                    "campusCode": {
                      "type": "String",
                      "description": "校区代码"
                    },
                    "campus": {
                      "type": "String",
                      "description": "校区"
                    },
                    "degreeCode": {
                      "type": "String",
                      "description": "学位代码"
                    },
                    "degree": {
                      "type": "String",
                      "description": "学位"
                    },
                    "teacherId": {
                      "type": "String",
                      "description": "导师"
                    },
                    "viceTeacherId": {
                      "type": "String",
                      "description": "导师2"
                    },
                    "spcialPlanCode": {
                      "type": "String",
                      "description": "专项计划代码"
                    },
                    "spcialPlan": {
                      "type": "String",
                      "description": "专项计划"
                    },
                    "isIncumbencyCode": {
                      "type": "String",
                      "description": "是否在职生代码"
                    },
                    "isIncumbency": {
                      "type": "String",
                      "description": "是否在职生"
                    },
                    "specialCategoryCode": {
                      "type": "String",
                      "description": "特殊类别代码"
                    },
                    "specialCategory": {
                      "type": "String",
                      "description": "特殊类别"
                    },
                    "degreeTypeCode": {
                      "type": "String",
                      "description": "学位类型代码"
                    },
                    "degreeType": {
                      "type": "String",
                      "description": "学位类型"
                    },
                    "degreeCategoryCode": {
                      "type": "String",
                      "description": "学位上报类别代码"
                    },
                    "degreeCategory": {
                      "type": "String",
                      "description": "学位上报类别"
                    },
                    "expectedGraduationDate": {
                      "type": "String",
                      "description": "预计毕业时间"
                    },
                    "actualGraduationDate": {
                      "type": "String",
                      "description": "实际毕业时间"
                    },
                    "offSchool": {
                      "type": "String",
                      "description": "离校时间"
                    },
                    "studentCategoryCode": {
                      "type": "String",
                      "description": "学生分类代码"
                    },
                    "studentCategory": {
                      "type": "String",
                      "description": "学生分类"
                    },
                    "researchDirection": {
                      "type": "String",
                      "description": "研究方向"
                    },
                    "userTypeCode": {
                      "type": "String",
                      "description": "人员类型代码"
                    },
                    "userTypeName": {
                      "type": "String",
                      "description": "人员类型"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v2/dc/sep_auth/student_info": {
      "get": {
        "summary": "学生个人信息",
        "description": "根据学号查询学生个人信息",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUserId",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，获取该时间点之后信息有更改的数据，此字段格式支持YYYY-MM-DD HH:mm:ss 和 unix时间戳",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "STRING",
                      "description": "学号"
                    },
                    "name": {
                      "type": "STRING",
                      "description": "姓名"
                    },
                    "deptCode": {
                      "type": "STRING",
                      "description": "部门/学院代码"
                    },
                    "deptName": {
                      "type": "STRING",
                      "description": "部门/学院名称"
                    },
                    "userTypeCode": {
                      "type": "STRING",
                      "description": "人员类型代码"
                    },
                    "userTypeName": {
                      "type": "STRING",
                      "description": "人员类型名称"
                    },
                    "sexCode": {
                      "type": "STRING",
                      "description": "性别"
                    },
                    "sexName": {
                      "type": "STRING",
                      "description": "性别名称"
                    },
                    "stateCode": {
                      "type": "STRING",
                      "description": "国家"
                    },
                    "stateName": {
                      "type": "STRING",
                      "description": "国家名称"
                    },
                    "nationCode": {
                      "type": "STRING",
                      "description": "民族"
                    },
                    "nationName": {
                      "type": "STRING",
                      "description": "民族名称"
                    },
                    "nativePlaceCode": {
                      "type": "STRING",
                      "description": "籍贯"
                    },
                    "nativePlaceName": {
                      "type": "STRING",
                      "description": "籍贯名称"
                    },
                    "studentSourceCode": {
                      "type": "STRING",
                      "description": "生源地"
                    },
                    "studentSourceName": {
                      "type": "STRING",
                      "description": "生源地名称"
                    },
                    "chinaSonCode": {
                      "type": "STRING",
                      "description": "港澳台侨"
                    },
                    "chinaSonName": {
                      "type": "STRING",
                      "description": "港澳台侨名称"
                    },
                    "birthday": {
                      "type": "STRING",
                      "description": "生日"
                    },
                    "brithplaceCode": {
                      "type": "STRING",
                      "description": "出生地"
                    },
                    "brithplaceName": {
                      "type": "STRING",
                      "description": "出生地名称"
                    },
                    "firstForeignLanguageCode": {
                      "type": "STRING",
                      "description": "第一外国语"
                    },
                    "firstForeignLanguageName": {
                      "type": "STRING",
                      "description": "第一外国语名称"
                    },
                    "politicalStatusCode": {
                      "type": "STRING",
                      "description": "政治面貌(取学工)"
                    },
                    "politicalStatusName": {
                      "type": "STRING",
                      "description": "政治面貌名称(取学工)"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v2/dc/sep_auth/student_accommodation_info": {
      "get": {
        "summary": "学生住宿信息",
        "description": "根据学号查询学生住宿信息",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUserId",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，获取该时间点之后信息有更改的数据，此字段格式支持YYYY-MM-DD HH:mm:ss 和 unix时间戳",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "STRING",
                      "description": "学号"
                    },
                    "name": {
                      "type": "STRING",
                      "description": "姓名"
                    },
                    "deptCode": {
                      "type": "STRING",
                      "description": "部门/学院代码"
                    },
                    "deptName": {
                      "type": "STRING",
                      "description": "部门/学院名称"
                    },
                    "schoolCode": {
                      "type": "STRING",
                      "description": "学堂id"
                    },
                    "schoolName": {
                      "type": "STRING",
                      "description": "学堂名称"
                    },
                    "userTypeCode": {
                      "type": "STRING",
                      "description": "人员类型代码"
                    },
                    "userTypeName": {
                      "type": "STRING",
                      "description": "人员类型名称"
                    },
                    "accomRegionCode": {
                      "type": "STRING",
                      "description": "宿舍区"
                    },
                    "accomRegionName": {
                      "type": "STRING",
                      "description": "宿舍区名称"
                    },
                    "accomBuildingCode": {
                      "type": "STRING",
                      "description": "宿舍楼"
                    },
                    "accomBuildingName": {
                      "type": "STRING",
                      "description": "宿舍楼名称"
                    },
                    "floor": {
                      "type": "STRING",
                      "description": "楼层"
                    },
                    "roomNo": {
                      "type": "STRING",
                      "description": "房间号"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v2/dc/user/cec_student_infos": {
      "get": {
        "summary": "继续教育学院学生基本信息",
        "description": "单条或批量获取继续教育学院学生的基本信息。",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusCode",
            "in": "query",
            "description": "人员身份认证状态，0代表有效、1代表失效、-1代表全部 不传参数默认为0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUserId",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，获取该时间点之后信息有更改的数据，此字段格式支持YYYY-MM-DD HH:mm:ss 和 unix时间戳",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string",
                      "description": "学工号"
                    },
                    "name": {
                      "type": "string",
                      "description": "姓名"
                    },
                    "deptCode": {
                      "type": "string",
                      "description": "部门/学院代码"
                    },
                    "deptName": {
                      "type": "string",
                      "description": "部门/学院名称"
                    },
                    "userTypeCode": {
                      "type": "string",
                      "description": "人员类型代码"
                    },
                    "userTypeName": {
                      "type": "string",
                      "description": "人员类型名称"
                    },
                    "statusCode": {
                      "type": "string",
                      "description": "人员身份认证状态，0代表有效、1代表失效"
                    },
                    "statusName": {
                      "type": "string",
                      "description": "人员身份认证状态名称"
                    },
                    "createTime": {
                      "type": "date",
                      "description": "创建时间"
                    },
                    "updateTime": {
                      "type": "date",
                      "description": "更新时间"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/dc/star/star_activity_registration_info": {
      "get": {
        "summary": "卓越星活动报名信息",
        "description": "学生参与卓越星活动报名信息",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceId",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，获取该时间点之后信息有更改的数据，此字段格式支持YYYY-MM-DD HH:mm:ss 和 unix时间戳",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "properties": {}
                          }
                        },
                        "sinceId": {
                          "type": "string"
                        }
                      }
                    },
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/dc/star/star_activity_checkin_info": {
      "get": {
        "summary": "卓越星活动打卡信息",
        "description": "学生参与卓越星活动打卡信息",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceId",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，获取该时间点之后信息有更改的数据，此字段格式支持YYYY-MM-DD HH:mm:ss 和 unix时间戳",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "properties": {}
                          }
                        },
                        "sinceId": {
                          "type": "string"
                        }
                      }
                    },
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/dc/star/star_lecture_participation_info": {
      "get": {
        "summary": "卓越星讲座参与信息",
        "description": "学生参与卓越星讲座信息",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceId",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，获取该时间点之后信息有更改的数据，此字段格式支持YYYY-MM-DD HH:mm:ss 和 unix时间戳",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "sinceId": {
                          "type": "string"
                        },
                        "count": {
                          "type": "number"
                        },
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "properties": {}
                          }
                        }
                      }
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rt/student_work_info/star/activity/page_all": {
      "get": {
        "summary": "卓越星所有活动信息",
        "description": "分页查询卓越星所有活动",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "活动名称"
                  },
                  "deptCode": {
                    "type": "string",
                    "description": "所属部门代码"
                  },
                  "module": {
                    "type": "string",
                    "description": "活动模块"
                  },
                  "moduleCodes": {
                    "type": "array[string]",
                    "description": "关联模块代码"
                  },
                  "listId": {
                    "type": "number",
                    "description": "活动清单id"
                  },
                  "released": {
                    "type": "number",
                    "description": "是否发布：0-未发布，1-已发布"
                  },
                  "recommend": {
                    "type": "number",
                    "description": "是否推荐：0-不推荐，1-推荐"
                  },
                  "type": {
                    "type": "number",
                    "description": "活动类型"
                  },
                  "grades": {
                    "type": "array[string]",
                    "description": "年级可见范围"
                  },
                  "deptCodes": {
                    "type": "array[string]",
                    "description": "学院可见范围"
                  },
                  "dimensionCodes": {
                    "type": "array[string]",
                    "description": "活动维度范围"
                  },
                  "activityStartTime": {
                    "type": "string",
                    "description": "活动开始时间"
                  },
                  "activityEndTime": {
                    "type": "string",
                    "description": "活动结束时间"
                  },
                  "createTime": {
                    "type": "array[string]",
                    "description": "创建时间"
                  },
                  "progressStatus": {
                    "type": "number",
                    "description": "活动进度状态"
                  },
                  "pageNo": {
                    "type": "number",
                    "description": "页码，不能小于1"
                  },
                  "pageSize": {
                    "type": "number",
                    "description": "每页大小，不能超过100"
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "响应状态码"
                    },
                    "msg": {
                      "type": "string",
                      "description": "响应提示信息"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "array[object]",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "活动id"
                          },
                          "recommend": {
                            "type": "boolean",
                            "description": "是否推荐"
                          },
                          "title": {
                            "type": "string",
                            "description": "活动名称"
                          },
                          "listId": {
                            "type": "number",
                            "description": "活动清单id"
                          },
                          "released": {
                            "type": "boolean",
                            "description": "是否发布"
                          },
                          "type": {
                            "type": "number",
                            "description": "活动类型"
                          },
                          "module": {
                            "type": "string",
                            "description": "活动模块代码"
                          },
                          "moduleCodes": {
                            "type": "array[string]",
                            "description": "关联模块代码"
                          },
                          "addr": {
                            "type": "string",
                            "description": "活动地址"
                          },
                          "mainBoardUnit": {
                            "type": "string",
                            "description": "主办单位"
                          },
                          "createTime": {
                            "type": "number",
                            "description": "创建时间，毫秒级时间戳"
                          },
                          "activityStartTime": {
                            "type": "number",
                            "description": "活动开始时间，毫秒级时间戳"
                          },
                          "activityEndTime": {
                            "type": "number",
                            "description": "活动结束时间，毫秒级时间戳"
                          },
                          "creatorDeptCode": {
                            "type": "string",
                            "description": "所属部门代码"
                          },
                          "list": {
                            "type": "object",
                            "description": "活动清单",
                            "properties": {
                              "id": {
                                "type": "number",
                                "description": "清单id"
                              },
                              "activityTitle": {
                                "type": "string",
                                "description": "清单名称"
                              },
                              "activityPlate": {
                                "type": "string",
                                "description": "活动板块"
                              },
                              "activityLevel": {
                                "type": "string",
                                "description": "活动级别"
                              }
                            }
                          },
                          "enrolledNumber": {
                            "type": "number",
                            "description": "已报名人数"
                          },
                          "validEnrolledNumber": {
                            "type": "number",
                            "description": "有效报名人数"
                          },
                          "totalNumber": {
                            "type": "number",
                            "description": "总名额"
                          },
                          "creatorContact": {
                            "type": "string",
                            "description": "发布者联系方式"
                          },
                          "pcDetailUrl": {
                            "type": "string",
                            "description": "PC端详情地址"
                          },
                          "mobileDetailUrl": {
                            "type": "string",
                            "description": "移动端详情地址"
                          },
                          "photo": {
                            "type": "string",
                            "description": "活动封面图片"
                          },
                          "points": {
                            "type": "number",
                            "description": "星点值"
                          },
                          "deptCodes": {
                            "type": "array[string]",
                            "description": "学院可见范围代码，示例：[\"000192\",\"000163\"]"
                          },
                          "currentGrades": {
                            "type": "array[string]",
                            "description": "年级可见范围，示例：[\"2019\",\"2020\"]"
                          },
                          "dimensionCodes": {
                            "type": "array[string]",
                            "description": "活动维度范围，示例：[\"1\",\"2\"]"
                          }
                        }
                      }
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/dc/student_employment/student_career_guidance_activity_info": {
      "get": {
        "summary": "学生参加就业辅导活动信息",
        "description": "获取学生参加就业辅导活动信息",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceId",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUpdateTime",
            "in": "query",
            "description": "更新时间，获取该时间点之后信息有更改的数据，此字段格式支持YYYY-MM-DD HH:mm:ss 和 unix时间戳",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "properties": {}
                          }
                        },
                        "sinceId": {
                          "type": "string"
                        },
                        "count": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": []
                }
              }
            }
          }
        }
      }
    },
    "/v2/dc/student_work_info/student_headteacher_counselor_info": {
      "get": {
        "summary": "学生班主任辅导员信息",
        "description": "根据学号查询学生班主任辅导员信息",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "学号 可传入多个学工号(上限为1000，使用英文逗号分割)进行批量查询",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinceUserId",
            "in": "query",
            "description": "游标的起始位置，请把响应中的同字段传入，获取下一页，循环往复获取全量数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "STRING",
                      "description": "学号"
                    },
                    "name": {
                      "type": "STRING",
                      "description": "姓名"
                    },
                    "deptCode": {
                      "type": "STRING",
                      "description": "学院代码"
                    },
                    "deptName": {
                      "type": "STRING",
                      "description": "学院名称"
                    },
                    "classCode": {
[...]
